[submodule "deps/SDL"]
	path = deps/SDL
	url = https://github.com/libsdl-org/SDL.git
	shallow = true
[submodule "deps/SDL_ttf"]
	path = deps/SDL_ttf
	url = https://github.com/libsdl-org/SDL_ttf.git
	shallow = true
[submodule "deps/whisper.cpp"]
	path = deps/whisper.cpp
	url = https://github.com/ggml-org/whisper.cpp.git
